.reservationArea {
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  margin-bottom: 30px;
  height: fit-content;
  overflow: hidden;
  transition: all 0.3s ease;
  width: fit-content;
}

@media (min-width: 1286px) {
.reservationArea {
  display: flex !important;
  
}
}

@media (max-width: 1286px) {
  .reservationArea {
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.formGroup label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: #222;
}

.row {
  display: flex;
  gap: 10px;
}

.input,
.select {
  flex: 1;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  color: #777;
  width: 146px;
}


@media (max-width: 1286px) {
.input,
.select {
  width: 121px;
}
}
@media (max-width: 1180px) {
.input,
.select {
  width: 113px;
}
}


.formGroup input:focus{
outline: none;
}

.sliderValues {
height: 5px;
border-radius: 5px;
background-color: #ddd;
position: relative;
}

.rangeContainer {
  height: 5px;
  border-radius: 5px;
  background-color: #0070f3;
  position: absolute;
  left: 0;
  right: 0;
}

.inputRange {
position: relative;
}

.inputRange input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  -webkit-appearance: none;
  background: none;
  pointer-events: none;
}

.inputRange input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  background-color: #f0b100;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}



.submitBtn {
  width: 100%;
  padding: 12px;
  background-color: #f0b100;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  transition: background 0.3s;
  transition: 0.3s;
}

.submitBtn:hover {
  background-color: var(--main-color);
  cursor: pointer;
}


.buthidn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ditele);
  display: none;
  width: 100%;
}

@media (max-width: 1286px) {
  .buthidn {
    display: flex;
  }
}
.buthidn button{
  cursor: pointer;
}
