.mainContainer {
    padding: 50px 0;
    background-color: #fff;
    direction: rtl;
    overflow: hidden;
}

@media (max-width: 575px) {
    .mainContainer {
        padding: 20px 0;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #faf9f7;
    border-radius: 35px;
    padding: 20px;
}

.titlePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #222;
    font-size: 36px;
    font-weight: bold;
}

.titlePage p {
    color: #666;
    font-size: 16px;
    margin: 0 auto 15px;
    line-height: 1.8;
    font-weight: normal;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.mainImage {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.mapContainer {
  width: 30%;
  border-radius: 12px;
  overflow: hidden;
}
.mapContainer a{
    color: var(--ditele);
    font-weight: bold;
}
.mapContainer a:hover{
    color: var(--main-color);
    text-decoration: underline;
}
.mapContainer svg  {
width: 28px;
display: inline;
}
.mapContainer svg path {
    fill: var(--ditele);
}

@media (max-width: 575px) {
    .mainImage {
        flex-direction: column;
    }
.mapContainer iframe {
display: none;
}
.mapContainer  {
    width: 100%;
}
}
@media (min-width: 576px) {

.mapContainer a {
display: none;
}

}



/* room info */

.detailsContainer {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

@media (max-width: 1124px) {
.detailsContainer {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    margin: 20px 0;
}
}

.bookingContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #222;
    flex: 0 0 30%;
}

.roomInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #222;
    flex: 0 0 67%;

}

.nameRoom {
    font-size: 30px;
    font-weight: bold;
}

.ratingContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.rating {
  color: #f39c12;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.star {
  color: #f1c40f;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: var(--main-color);
}

.price span {
    font-size: 16px;
    font-weight: normal;
    color: #222;
}

.description{
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    color: #666;
}

/* services */
.servicesContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 0;

}

.servicesContainer h2 {
    font-size: 24px;
    font-weight: bold;
    color: #222;
}

.services {
    display: flex;
    gap: 15px;
    color: #222;
    flex-wrap: wrap;
}

.serviceItem {
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: stretch;
    align-items: center;
    min-width: 13%;
    flex: auto;
    border: 1px solid #222;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding: 10px;
    transition: all 0.5s ease;
    cursor: default;
}

.serviceItem:hover {
    background-color: #fff;
}

.serviceItem span {
    font-size: 17px;
    font-weight: normal;
    color: #222;
    margin-left: 15px;
}

.serviceItem svg {
    width: 38px;
    height: 38px;
    margin: 5px;
}

@media (max-width: 575px) {
    .serviceItem svg{
        width: 28px;
        height: 28px;
        margin: 1px;
    }

    .serviceItem span {
        font-size: 15px;
    }
}





