.slideContainer {
    position: relative;
    height: 60vh;
    width: 100%;
    overflow: hidden;
    user-select: none;
}

@media (max-width: 575px) {
    .slideContainer {
        height: 50vh;
    }
}

.slide {
    position: absolute;
    inset: 0;
    display: flex;
}


.mainSlide {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: all 0.7s ease-in-out; 
    border-radius: 16px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalImage {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.thumbnails {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

@media (max-width: 575px) {
    .thumbnails {
        gap: 5px;
    }
}
