.footer {
  background: linear-gradient(230deg, #333 0%, #000 100%);
  color: #f5f5f5;
  padding: 70px 0 20px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.col {
  flex: 1;
  min-width: 250px;
}

.logo {
  font-size: 28px;
  color: #d4af37;
  font-weight: bold;
  margin-bottom: 20px;
}

.text {
  color: #ccc;
  line-height: 1.8;
}

.title {
  color: #d4af37;
  margin-bottom: 20px;
  position: relative;
}

.title::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #d4af37;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .title::after {
    width: 100%;
    margin-top: 12px;
  }
}

.links,
.contact {
  list-style: none;
  padding: 0;
}

.links li,
.contact li {
  margin-bottom: 10px;
}

.links a {
  color: #ddd;
  text-decoration: none;
  transition: 0.3s;
}

.links a:hover {
  color: #d4af37;
  padding-right: 5px;
}

.contact li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ccc;
}

.social {
  margin-top: 20px;
}

.social a {
  color: #d4af37;
  margin-left: 12px;
  font-size: 20px;
  transition: 0.3s;
}

.social a:hover {
  color: #fff;
  transform: translateY(-2px);
}

.copy {
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 15px;
  font-size: 14px;
  color: #aaa;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .contact li {
    justify-content: center;
  }

  .social a {
    margin: 0 8px;
  }
}

.developer {
  margin-top: 8px;
  font-size: 14px;
  color: #888;
}

.developer a {
  color: #d4af37;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
  text-decoration: underline;
}

.developer a:hover {
  color: #fff;
}

