@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ditele: #f0b100;
  --main-color: #e9a237;
  --black:#1A1A1A;
  --text:#555555;
  --main-background:#faf9f7;
  --main-transition: all 0.2s ease-in-out;
  --font-cairo: 'Cairo'

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cairo), sans-serif;

}

a {
    text-decoration: none;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    will-change: transform;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.mainPage {
    overflow: hidden;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
