.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;

}

.title{
    text-align: center;
    margin: 30px auto 50px auto;
    font-size: 30px;
    font-weight: bold;
    color: #222;
}

.container{
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 60%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.titleForm{
    font-size: 30px;
    font-weight: bold;
    color: #222;
}

.containerInput{
    display: flex;
    flex-direction: column;
    position: relative;
}
.containerInput .arrow {
  position: absolute;
  left: 20px;
  top: 72%;
  width: 0;
  height: 0;
  pointer-events: none;
  transform: translateY(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--ditele);
}

.containerInput p{
    color: #555;
    font-size: 12px;
}

.form label{
    font-weight: 600;
    color: #222;
}

.form label span{
    color: red;
}

.form input{
    padding: 10px;
    border-radius: 15px;
    direction: rtl;
    color: #777;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form select{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    direction: rtl;
    color: #777;
    margin-top: 10px;
    appearance: none;
    -webkit-appearance: none;
}

.form input:focus,.form select:focus,.form textarea:focus{
    outline: none;
    border-color: var(--ditele)  ; 
}

.form textarea{
    padding: 10px;
    border-radius: 15px;
    direction: rtl;
    color: #777;
    margin-top: 10px;
    border: 1px solid #ddd;
    resize: none;
    height: 100%;
}

.form button{
    padding: 10px;
    border-radius: 15px;
    background-color: var(--ditele);
    color: #fff;
    cursor: pointer;
}

p.error{
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -15px;
}

span.icon{
    color: var(--ditele);
}

.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 37%;

}

.dataRoom{
    color: #222;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 15px;
}

.check{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.check p:last-child{
    margin-right: 0;
}

div.check:nth-of-type(2) p:last-child{
    margin-left: 23px;
}

.dataRoom h2{
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.dataRoom p{
    margin: 0 20px 10px;
    text-align: center;
}

.dataRoom > p:last-child{
    margin: 20px 20px 0;
    color: var(--ditele);
    font-weight: bold;
    font-size: 20px;
}

.dataRoom > p:last-child span{
display: inline;
font-size: 20px;
}

.dataRoom > p:last-child span:last-child{
    color: #222;
    font-size: 13px;
    font-weight: normal;
}


.dataRoom span{
    font-weight: bold;
    display: block;
}

.scrollBtn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 88vh;
    background-color: var(--ditele);
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.scrollBtn svg{
    margin-left: 5px;
    width: 20px;
    height: 20px;
    fill: #fff;
}

.scrollBtn:hover {
  background-color: var(--main-color);
  transform:  scale(1.05);
}


@media  (max-width: 575.98px) {
    .container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .infoText p:first-child{
        font-size: 16px;
    }
    .infoText p:last-child{
        font-size: 12px;
    }
    .form textarea{
        height: 110px;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .form textarea{
        height: 120px;
    }
    .check{
        justify-content: space-evenly;
    }
}

@media (min-width: 992px) {
    .scrollBtn {
        display: none;
    }
}