.header {
  text-align: center;
  margin-bottom: 50px;
}

.subtitle {
  color: #666;
  font-size: 18px;
  font-weight: 600;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #222;
}

.titleroomid {
  font-size: 24px;
  font-weight: bold;
  color: #222;
  text-align: justify;
}

.card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  text-decoration: none;
  color: #000;
  border: 1px solid #ddd;
}
.imageWrapper {
  position: relative;
  padding: 15px;
}

.image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.price {
  position: absolute;
  bottom: 12px;
  right: 12px;
  background-color: var(--ditele);
  color: #fff;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 14px;
}

.content {
  padding: 20px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roomName {
  font-size: 20px;
  font-weight: bold;
}

.rating {
  color: #f39c12;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.star {
  color: #f1c40f;
}

.description {
  color: #555;
  margin: 12px 0 20px;
  font-size: 15px;
  line-height: 1.6;
  height: 23px;
  overflow: hidden;  
}

.services {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.services li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #333;
}

.services svg {
  color: #2c3e50;
  font-size: 18px;
}

.moreBtn {
  text-align: center;
  margin-top: 55px;
}